@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
} 

.wrapper {
    display: grid;
    grid-template-columns: 1.3fr 3fr 1.3fr;
    grid-template-rows: auto;
}
.wrapper img {
    max-height: 100%;
    max-width: 100%;
}

/* Header Section */
.header {
    grid-column: 1 / 4;
    z-index: 100;
    background-color: #fffbf5;
    top: 0;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 5px #a3a29f;
}
.header img {
    max-height: 100%;
    max-width: 100%;
}

.header__newpost {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__newpost-img {
    height: 50px;
    width: 50px;
    margin: 0 25px 0 25px;
}
.header__newpost::after {
    content: "";
    width: 1px;
    height: 100px;
    background-color: #cfccc6;
}

.header__icons {
    margin-left: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.header__icons-img {
    border-radius: 25px;
    height: 20px;
    padding: 14px;
    border: 1px solid #cfccc6;
}

.header__logo {
    margin: auto;
    height: 50px;
}

.header__right {
    left: 0;
    display: flex;
    align-items: center;
    height: 100px;
}

.header__right-search form {
    background-color: cfccc6;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #cfccc6;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.header__right-search input {
    all: unset;
    font: 18px system-ui;
    color: #cfccc6;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}
::placeholder {
    color: #cfccc6;
}
.header__right-search img {
    width: 20px;
    padding-right: 10px;
}
.header__right-search button {
    all: unset;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.header__right-avatar {
    margin: 0 24px 0 24px;
    height: 50px;
}
/* ============================= */


/* About Section */
.about {
    display: flex;
    flex-flow: column wrap;
    background-color: #8bbeeb;
}

.about__avatar {
    display: flex;
    justify-content: center;
}

.about__avatar img {
    margin: 80px 0 20px 0;
    border-radius: 50px;
    width: 100px;
}

.about__name {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.about__description {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 5px 15px 20px 15px;
}

.about__link {
    display: flex;
    justify-content: center;
}
.about__link a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row wrap;
}
.about__link-img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.about__follow {
    display: flex;
    justify-content: center;
}
.about__follow button {
    display: inline-block;
    margin: 25px 0 45px 0;
    padding: 10px 50px;
    background-color: #6897c0;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}
.about__follow button:hover {
    background-color: #547c9e;
}

.about__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about__photos img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__activities {
    width: auto;
    margin: 30px 0 80px 30px;
    display: flex;
    flex-flow: column wrap;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    gap: 10px;
}
.about__activities-caption {
    color: white;
    font-size: 18px;
}
.about__activities-list li{
    display: flex;
    font-size: 16px;
    gap: 5px;
}
.about__activities-list ul{
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    gap: 15px;
}
.about__activities-list img {
    width: 20px;
}
.about__activities-list-action {
    color: black
}
.about__activities-list-name {
    color: white;
    text-decoration: inherit;
}
/* ================================ */


/* Blog Section */
.blog {
    font-size: 18px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #f2eee8;
}
.blog__container {
    width: 90%;
}
.blog__nav {
    margin: 35px 0 35px 0;
    background-color: #fffbf5;
    box-shadow: 0px 1px 5px #a3a29f;
}
.blog__nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    font-size: 16px;
}
.blog__nav-link {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    align-items: center;
    text-decoration: none;
}
.blog__nav-item a.active::after,
.blog__nav-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #8bbeeb;

}
.blog__nav-link__action {
    color: #cfccc6;
}
.blog__nav-link__count {
    color: #605e58;
    font-weight: 700;
}

.blog__posts {
    display: flex;
    flex-flow: column wrap;
    background-color: #fffbf5;
    box-shadow: 0px 1px 5px #a3a29f;
    padding-bottom: 25px;
}
.blog__post {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 25px 25px 0 25px;
}
.blog__post-avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.blog__post-avatar img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.blog__post-right {
    display: flex;
    flex-flow: column wrap;
    padding-left: 10px;
}
.blog__post-top {
    display: flex;
    align-items: center;
    height: 18px;
}
.blog__post-top img{
    margin-right: 5px;
}
.blog__post-name {
    text-decoration: none;
    color: #605e58;
    font-weight: 700;
    padding-right: 5px;
}
.blog__post-login {
    text-decoration: none;
    color: #cfccc6;
}
.blog__post-time {
    color: #cfccc6;
    margin-left: auto;
}
.blog__post-text {
    margin-top: 5px;
    max-height: 400px;
    color: #605e58;
    white-space: wrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.blog__post-text img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.blog__post-actions {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-top: 5px;
    gap: 15px;
}
.blog__post-actions a {
    height: 20px;
}
.blog__post-count {
    margin-left: -10px;
    font-size: 14px;
    height: 14px;
}
.blog__post-resize {
    margin-left: auto;
}
.blog__post-resize img{
    height: 16px;
}
.blog__post:not(:last-child)::after  {
    content: "";
    grid-column: 1 / 3;
    margin-top: 30px;
    margin-left: -25px;
    padding: 0 25px 0 25px;
    width: 100%;
    height: 1px;
    background-color: #cfccc6;
}
/* ===================================== */

/* Trends Section */
.trends {
    display: flex;
    flex-flow: column wrap;
    background-color: #fffbf5;
    color: #605e58;
}

.trends__caption {
    font-size: 18px;
    margin: 30px 25px 25px 30px;
}
.trends__hashtags {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.trends__hashtags a {
    text-decoration: none;
    color: #6897c0;
}
.trends__folow {
    display: flex;
    margin: 45px 25px 15px 30px;
    font-size: 18px;
    justify-content: space-between;
}

.trends__people {
    display: flex;
    flex-flow: column wrap;
    margin: 0 25px 0 30px;
    gap: 15px;
}
.trends__people__person {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.trends__people__person-avatar {
    height: 50px;
    width: 50px;
}
.trends__people__person-text {
    
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 18px;
}
.trends__people__person-text-name {
    text-decoration: none;
    color: #605e58;
    text-align: left;
}
.trends__people__person-text-about {
    text-align: left;
    color: #cfccc6;
}
.trends__people__person-add {
    margin-left: auto;
    height: 20px;
}
/* =========================== */