.ceo {
    // .ceo__info
    &__info {
        display: flex;
        flex-flow: column wrap;
        margin: 90px 0 120px 0;
    }
    // .ceo__title
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 20px;
    }
    // .ceo__text
    &__text {
        font-style: normal;
        font-size: 14px;
        line-height: 250%;
    }
}
