//Product=========================================
.product {
    // .product__content
    &__content {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 33px;
    }
    // .product__header
    &__header {
        display: flex;
        flex-flow: row wrap;
        gap: 29px;
    }
    // .product__tabs
    &__tabs {
        margin-top: 90px;
        text-align: justify;
    }
    // .product__tab
    &__tab {
        margin-top: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 250%;
    }
}
.header-product {
    // .header-product__preview
    &__preview {
        height: 440px;
        width: 570px;
        object-fit: fill;
    }
    // .header-product__text
    &__text {
        flex: 1 1 0;
    }
    &__slider {
        position: relative;
    }
}
.slider-product {
    // .slider-product__slider
    &__arrow {
        display: block;
        position: absolute;
        top: 41%;
        font-size: 18px;
        &:hover {
            color: #F39B14;
            cursor: pointer;
        }
        &._icon-right-slider {
            right: 0;
        }
        &._icon-left-slider {
            left: 0;
        }
    }
    // .slider-product__galery
    &__galery {
        margin: 11px 33px 0;
        overflow: hidden;
        width: 500px;
    }
    // .slider-product__galery
    &__list {
        width: 9999px;
        font-size: 0;
        transition: all ease 0.3s;
    }
    // .slider-product__item
    &__item {
        display: inline-block;
        &:not(:last-child) { 
            margin-right: 26px;  
        }
        img {
            height: 100px;
            width: 150px;
            object-fit: cover;
        }
    }
}
.text-header {
    // .text-header__title
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 110%;
        margin-bottom: 58px;
    }
    // .text-header__description
    &__description {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 9px;
    }
    // .text-header__subtitle
    &__subtitle {
        font-size: 14px;
        line-height: 250%;
        margin-bottom: 33px;
    }
    // .text-header__price
    &__price {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 37px;
    }
    // .text-header__buy
    &__buy {      
        color: $mainColor;
        background-color: #FFFFFF;
        border: 1px solid #28292D;
        cursor: pointer;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        width: 330px;
        height: 65px;
        transition: all 0.3s ease;
        &:hover {
            color: #FFFFFF;
            background-color: $mainColor;
        }   
    }
}
.tabs {
    // .tabs__navigation
    &__navigation {
        display: flex;
        flex-flow: row wrap;
        gap: 74px;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        cursor: pointer;
    }
}
.tab {
    // .tab__slider
    &__slider {
        color: #C5C5C5;
        &.active {
            color: $mainColor;
        }
    }
    // .tab__text
    &__text {
        margin-bottom: 57px;
    }
    // .tab__image
    &__image {
        display: flex;
        justify-content: center;
        margin-bottom: 55px;
    }
}
//================================================

//FeedBack========================================
.feedback {
    background-image: url("../img/form_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 90px;
    // .feedback__content
    &__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    // .feedback__title
    &__title {
        width: 540px;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        margin: 66px 0 24px 0;
    }
    // .feedback__form
    &__form {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
}
.form-feedback {
    // .form-feedback__inputs
    &__inputs {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
        margin-bottom: 18px;
        input {
            background: transparent;
            border: 1px solid #FFFFFF;
            width: 360px;
            border: 1px solid #E3E3E3;
            height: 55px;
            padding: 26px;
            font-size: 12px;
            line-height: 14px;
            &::placeholder {
                color: #FFFFFF;
            }
        }
    }
    // .form-feedback__send
    &__send {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 68px;
        width: 360px;
    }
}
.send-feedback {
    // .send-feedback__button
    &__button {
        height: 60px;
        font-size: 20px;
        line-height: 23px;
        cursor: pointer;
        transition: all ease 0.3s;
        background-color: #FFFFFF;
        &:hover {
            color: #F39B14;
        }
    }
    // .send-feedback__check
    &__check {
        margin-top: 15px;
        display: flex;
        font-size: 12px;
        line-height: 130%;
        color: #FFFFFF;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }
    // .send-feedback__checkbox
    &__checkbox {
    }
}
//================================================

//Recommendations=================================
.recommendations {
    position: relative;
    width: 1650px;
    margin: 0 auto;
    // .recommendations__title
    &__title {
        text-align: left;
        width: 100%;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 47px;
    }
    // .recommendations__slider
    &__slider {
        position: relative;
    }
    // .recommendations__watch
    &__watch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 70px;
        &__button {
            width: 270px;
            height: 45px;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            background-color: #FFFFFF;
            border: 1px solid #28292D;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: #FFFFFF;
                background-color: $mainColor;
            }   
        }        
    }
    &__arrow {
        display: block;
        position: absolute;
        top: 41%;
        font-size: 18px;
        &:hover {
            color: #F39B14;
            cursor: pointer;
        }
        &._icon-right-slider {
            right: 0;

        }
        &._icon-left-slider {
            left: 0;
        }
    }
}
.slider-recommendations {
    // .slider-recommendations__galery
    &__galery {
        overflow: hidden;
    }
    // .slider-recommendations__list
    &__list {
        width: 9999px;
        transition: all ease 0.3s;
    }
    &__item {
        display: inline-block;
        width: 330px;
        &:not(:last-child) { 
            margin-right: 26px;  
        }
    }
}
.slider-item {
    // .slider-item__content
    &__content {
        display: flex;
        flex-flow: column wrap;
    }
    // .slider-item__image
    &__image {
        border: 1px solid #EDEDED;
    }
    // .slider-item__title
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin: 28px 0 21px;
        transition: all 0.3s ease;
        &:hover {
            color:#F39B14
        }
    }
    // .slider-item__subtitle
    &__subtitle {
        font-size: 12px;
        line-height: 180%;
        margin-bottom: 48px;
    }
    // .slider-item__buy
    &__buy {
        display: flex;
        justify-content: space-between;
    }
    // .slider-item__price
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    // .slider-item__more
    &__more {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        width: 150px;
        height: 35px;
        background-color: #FFFFFF;
        border: 1px solid #28292D;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            color: #FFFFFF;
            background-color: $mainColor;
        }   
    }
}
//================================================

